@{
    ViewBag.Title = "Admin Functions";
}

<h2>Admin Functions</h2>

<ul>
    @if (User.IsInRole(GlobeAuction.Models.AuctionRoles.CanEditTickets))
    {
        <li>@Html.ActionLink("Tickets", "Index", "TicketTypes")</li>
    }
    @if (User.IsInRole(GlobeAuction.Models.AuctionRoles.CanAdminUsers))
    {
        <li>@Html.ActionLink("Auction Item Categories", "Index", "AuctionCategories")</li>
        <li>@Html.ActionLink("FAQs", "List", "Faqs")</li>
        <li>@Html.ActionLink("Configurations", "Index", "ConfigProperties")</li>
        <li>@Html.ActionLink("Sponsors", "Index", "Sponsors")</li>
        <li>@Html.ActionLink("Donors", "Index", "Donors")</li>
        <li>@Html.ActionLink("Users", "Index", "UsersAdmin")</li>
        <li>@Html.ActionLink("Logs", "Index", "LogFiles")</li>
    }
</ul>