@model GlobeAuction.Models.TicketType

@{
    ViewBag.Title = "Delete Ticket Type";
}

<h2>Delete Ticket Type</h2>

<h3>Are you sure you want to delete this?</h3>
All ticket sales information will remain intact.  Deleting this ticket type just means that bidders cannot
purchase this type of ticket during registration.

<div>
    <h4>TicketType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PromoCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PromoCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OnlyVisibleToAdmins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnlyVisibleToAdmins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateBy)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
