@model GlobeAuction.Models.StoreItemViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>StoreItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasUnlimitedQuantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HasUnlimitedQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsRaffleTicket)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsRaffleTicket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CanPurchaseInBidderRegistration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CanPurchaseInBidderRegistration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CanPurchaseInAuctionCheckout)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CanPurchaseInAuctionCheckout)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CanPurchaseInStore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CanPurchaseInStore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OnlyVisibleToAdmins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnlyVisibleToAdmins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateBy)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
