@model GlobeAuction.Models.StoreItemViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StoreItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasUnlimitedQuantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HasUnlimitedQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsRaffleTicket)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsRaffleTicket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CanPurchaseInBidderRegistration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CanPurchaseInBidderRegistration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CanPurchaseInAuctionCheckout)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CanPurchaseInAuctionCheckout)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CanPurchaseInStore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CanPurchaseInStore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OnlyVisibleToAdmins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnlyVisibleToAdmins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StoreItemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
