@model IEnumerable<GlobeAuction.Models.StoreItemViewModel>

@{
    ViewBag.Title = "Store Items";
}

<h2>Store Items</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CanPurchaseInBidderRegistration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CanPurchaseInAuctionCheckout)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CanPurchaseInStore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OnlyVisibleToAdmins)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (!string.IsNullOrEmpty(item.ImageUrl))
                {
                    <img src="@Url.Content(item.ImageUrl)" alt="Image" style="max-width: calc(100% - 20px);" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanPurchaseInBidderRegistration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanPurchaseInAuctionCheckout)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanPurchaseInStore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OnlyVisibleToAdmins)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.StoreItemId }) |
                @Html.ActionLink("Details", "Details", new { id = item.StoreItemId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.StoreItemId })
            </td>
        </tr>
    }

</table>
