@model GlobeAuction.Models.RafflePurchasesListViewModel

<link rel="stylesheet" type="text/css" href="~/DataTables/datatables.min.css" />
<script type="text/javascript" src="~/DataTables/datatables.min.js"></script>

@{
    ViewBag.Title = "Raffle Ticket Paid Purchases";
}

<p>
    <ul class="list-inline">
        <li><a href="/store" target="_blank">Buy Raffles</a></li>
    </ul>
</p>

<h2>Raffle Ticket Paid Purchases</h2>

@using (Html.BeginForm("SubmitRafflePurchaseItems", "StoreItems", FormMethod.Post, new { id = "submitRafflePurchaseItemsForm" }))
{
    @Html.AntiForgeryToken()

    @Html.Hidden("rafflePurchasesAction");
    @Html.Hidden("selectedStoreItemPurchaseIds");

    <table class="table table-striped table-bordered" id="rafflePurchasesTable">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>
                    Email
                </th>
                <th>
                    Title
                </th>
                <th>
                    Purchase Date
                </th>
                <th>
                    Purchase Type
                </th>
                <th>
                    Raffle #
                </th>
                <th>
                    Printed
                </th>
                <th>
                    Bidder #
                </th>
                <th>
                    Invoice #
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.RafflesFromPurchases)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.PurchaseId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PurchaseDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PurchaseType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RaffleTicketNumber)
                    </td>
                    <td>
                        @(item.IsPrinted ? "Yes" : "No")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BidderNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InvoiceId)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h2>VIP Tickets including Raffle Ticket</h2>
    <table class="table table-striped table-bordered" id="vipTicketsTable">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>
                    Email
                </th>
                <th>
                    Title
                </th>
                <th>
                    Purchase Date
                </th>
                <th>
                    Purchase Type
                </th>
                <th>
                    Raffle #
                </th>
                <th>
                    Printed
                </th>
                <th>
                    Bidder #
                </th>
                <th>
                    Invoice #
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.RafflesFromTickets)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.PurchaseId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PurchaseDate)
                    </td>
                    <td>
                        VIP Ticket
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RaffleTicketNumber)
                    </td>
                    <td>
                        N/A
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BidderNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InvoiceId)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<script type="text/javascript">

    function getSelectedRows(data) {
        var ids = '';
        for (var i = 0; i < data.length; i++) {
            ids += data[i][0] + ',';
        }
        return ids.trimRight(',');
    }

    $(document).ready(function () {
        $('#rafflePurchasesTable').dataTable({
            "iDisplayLength": 100,
            dom: 'Bfrtip',
            stateSave: true,
            buttons: [
                {
                    extend: 'excelHtml5',
                    title: 'Export'
                },
                {
                    text: 'Mark as Printed',
                    action: function (e, dt, node, config) {
                        var data = dt.rows({ selected: true }).data();
                        if (data.length == 0) {
                            alert('You must select rows for this action.');
                        }
                        else {
                            $("#selectedStoreItemPurchaseIds").val(getSelectedRows(data));
                            $("#rafflePurchasesAction").val("MarkPrinted");
                            $('#submitRafflePurchaseItemsForm').submit();
                        }
                    }
                }
            ],
            select: {
                style: 'os'
            }
        });
        
        $('#vipTicketsTable').dataTable({
            "iDisplayLength": 100,
            dom: 'Bfrtip',
            stateSave: true,
            buttons: [
                {
                    extend: 'excelHtml5',
                    title: 'Export'
                }
            ],
            select: {
                style: 'os'
            }
        });
    });
</script>