@model GlobeAuction.Models.AuctionCategory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AuctionCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BidOpenDateLtz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BidOpenDateLtz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BidCloseDateLtz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BidCloseDateLtz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFundAProject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFundAProject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsOnlyAvailableToAuctionItems)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsOnlyAvailableToAuctionItems)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AuctionCategoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
