@model GlobeAuction.Models.AuctionCategory

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>AuctionCategory</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.AuctionCategoryId)

    <div class="form-group">
        @Html.MyLabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.MyLabelFor(model => model.ItemNumberStart, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ItemNumberStart, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ItemNumberStart, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.MyLabelFor(model => model.ItemNumberEnd, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ItemNumberEnd, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ItemNumberEnd, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.MyLabelFor(model => model.BidOpenDateLtz, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BidOpenDateLtz, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BidOpenDateLtz, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.MyLabelFor(model => model.BidCloseDateLtz, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BidCloseDateLtz, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BidCloseDateLtz, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.MyLabelFor(model => model.IsFundAProject, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.IsFundAProject)
                @Html.ValidationMessageFor(model => model.IsFundAProject, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.MyLabelFor(model => model.IsOnlyAvailableToAuctionItems, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.IsOnlyAvailableToAuctionItems)
                @Html.ValidationMessageFor(model => model.IsOnlyAvailableToAuctionItems, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
