@model IEnumerable<GlobeAuction.Models.AuctionCategory>

<link rel="stylesheet" type="text/css" href="~/DataTables/datatables.min.css" />
<script type="text/javascript" src="~/DataTables/datatables.min.js"></script>

@{
    ViewBag.Title = "Auction Item Categories";
}

<h2>Auction Item Categories</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered" id="categoriesTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemNumberStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemNumberEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BidOpenDateLtz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BidCloseDateLtz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsFundAProject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOnlyAvailableToAuctionItems)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.OrderBy(m => m.Name))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemNumberStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemNumberEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BidOpenDateLtz)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BidCloseDateLtz)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsFundAProject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsOnlyAvailableToAuctionItems)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.AuctionCategoryId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.AuctionCategoryId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.AuctionCategoryId })
                </td>
            </tr>
        }

    </tbody>
</table>



<script type="text/javascript">

    $(document).ready(function () {
        $('#categoriesTable').dataTable({
            "iDisplayLength": 100,
            dom: 'Bfrtip',
            stateSave: true,
            buttons: [
                {
                    extend: 'excelHtml5',
                    title: 'Export'
                }
            ],
            select: {
                style: 'os'
            }
        });
    });
</script>
