@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GLOBE Auction: @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/lightslider")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @if (Request.IsAuthenticated)
    {
        <style type="text/css">
            body {
                padding-top: 50px;
            }
        </style>
    }

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @if (Request.IsAuthenticated)
                {
                <div class="pull-left">
                    @Html.ActionLink(RevenueHelper.GetTotalRevenue().ToString("C"), "AllRevenueReports", "Reports", null, htmlAttributes: new { @class = "btn btn-lg btn-gold" })
                </div>
                }
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                @if (Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav">
                        @if (User.IsInRole(GlobeAuction.Models.AuctionRoles.CanEditItems))
                        {
                            <li>@Html.ActionLink("Items", "Index", "AuctionItems")</li>
                        }
                        @if (User.IsInRole(GlobeAuction.Models.AuctionRoles.CanEditBidders))
                        {
                            <li>@Html.ActionLink("Bidders", "Index", "Bidders")</li>
                        }
                        @if (User.IsInRole(GlobeAuction.Models.AuctionRoles.CanEditWinners) || User.IsInRole(GlobeAuction.Models.AuctionRoles.CanCheckoutWinners))
                        {
                            <li>@Html.ActionLink("Winners", "Winners", "AuctionItems")</li>
                        }
                        @if (User.IsInRole(GlobeAuction.Models.AuctionRoles.CanAdminUsers))
                        {
                            <li>@Html.ActionLink("Invoices", "Index", "Invoices")</li>
                            <li>@Html.ActionLink("Store", "Index", "StoreItems")</li>
                        }
                        @if (User.IsInRole(GlobeAuction.Models.AuctionRoles.CanAdminUsers) || User.IsInRole(GlobeAuction.Models.AuctionRoles.CanEditTickets))
                        {
                            <li>@Html.ActionLink("Admin", "AdminFunctions", "UsersAdmin")</li>
                        }
                    </ul>
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()

                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                            </li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                        </ul>
                    }
                }
                else
                {
                    <div class="navbar-logo">
                        <ul class="nav navbar-nav">
                            <!--<li><a href="/Home"><img src="~/Content/Images/Home.gif" height="150" class="hidden-xs" /><br />HOME</a></li>-->
                            <li><a href="/register"><img src="~/Content/Images/Register.gif" height="150" class="hidden-xs" /><br />TICKETS</a></li>
                            <li><a href="/bidders/bids"><img src="~/Content/Images/payicon.gif" height="150" class="hidden-xs" /><br />BIDS</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <!--
                            <li><a href="/home/sponsors"><img src="~/Content/Images/sponsorsicon.gif" height="150" class="hidden-xs" /><br />SPONSORS</a></li>
                            <li><a href="/shop"><img src="~/Content/Images/icon04_blue.jpg" height="150" class="hidden-xs" /><br />SHOP</a></li>-->
                            <li><a href="/donate"><img src="~/Content/Images/Donate.gif" height="150" class="hidden-xs" /><br />DONATE</a></li>
                            <li><a href="/account/login" id="loginLink"><img src="~/Content/Images/Volunteer.gif" height="150" class="hidden-xs" /><br />VOLUNTEERS</a></li>
                        </ul>
                        </div>
                    }

                </div>
            </div>
        </div>
        <div class="container body-content" id="bodyContainer">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year</p>
            </footer>
        </div>

    </body>
    </html>
