@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav">
        @if (User.IsInRole(GlobeAuction.Models.AuctionRoles.CanEditItems))
        {
            <li>@Html.ActionLink("Items", "Index", "AuctionItems")</li>
        }
        @if (User.IsInRole(GlobeAuction.Models.AuctionRoles.CanEditBidders))
        {
            <li>@Html.ActionLink("Bidders", "Index", "Bidders")</li>
        }
        @if (User.IsInRole(GlobeAuction.Models.AuctionRoles.CanEditItems))
        {
            <li>@Html.ActionLink("Tickets", "Index", "TicketTypes")</li>
        }
        @if (User.IsInRole(GlobeAuction.Models.AuctionRoles.CanAdminUsers))
        {
            <li>@Html.ActionLink("Users", "Index", "UsersAdmin")</li>
        }
    </ul>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Volunteer Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
