@model IEnumerable<GlobeAuction.Models.Faq>

<link rel="stylesheet" type="text/css" href="~/DataTables/datatables.min.css" />
<script type="text/javascript" src="~/DataTables/datatables.min.js"></script>

@{
    ViewBag.Title = "FAQs";
}

<h2>FAQs</h2>

<p>
    <table>
        <tr>
            <td>@Html.ActionLink("Create New FAQ", "Create") &nbsp; &nbsp;</td>
            <td>@Html.ActionLink("Manage FAQ Categories", "Index", "FaqCategories")</td>
        </tr>
    </table>
</p>

<table class="table table-striped table-bordered" id="faqsTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderInCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateBy)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.OrderBy(f => f.Category.DisplayOrder).ThenBy(f => f.OrderInCategory))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderInCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateBy)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.FaqId }) |
                @Html.ActionLink("Details", "Details", new { id = item.FaqId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.FaqId })
            </td>
        </tr>
    }

</table>


<script type="text/javascript">

    $(document).ready(function () {
        $('#faqsTable').dataTable({
            "iDisplayLength": 100,
            dom: 'Bfrtip',
            stateSave: true,
            buttons: [
                {
                    extend: 'excelHtml5',
                    title: 'Export'
                }
            ],
            select: {
                style: 'os'
            }
        });
    });
</script>
