@model GlobeAuction.Models.AuctionItem

@{
    ViewBag.Title = "Delete Auction Item";
}

<h2>Delete Auction Item</h2>

@if (Model.AllBids.Any())
{
    <p>
        This auction item cannot be deleted as there are active bids on the item.  To delete the item
        you must first go to the Details page and remove bids from there.
    </p>
}
else
{
    <p>Are you sure you want to delete this auction item?  
        Any donation items attached to this auction item will be returned to the pool and will NOT be deleted.
        Only this auction item "container" will be removed and the donation items can be moved to another basket or single auction item.
    </p>
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UniqueItemNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UniqueItemNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartingBid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartingBid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BidIncrement)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BidIncrement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFixedPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsFixedPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateBy)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">

            @if (!Model.AllBids.Any())
            {
                <span>
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                </span>
            }
    
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
