@model GlobeAuction.Models.ItemsViewModel

@{
    ViewBag.Title = "Auction Items";
}

<h2>Auction Items</h2>

<table class="table table-striped table-bordered" id="auctionItemsTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmptyAuctionItem.UniqueItemNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmptyAuctionItem.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmptyAuctionItem.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmptyAuctionItem.StartingBid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmptyAuctionItem.BidIncrement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmptyAuctionItem.WinningBidderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmptyAuctionItem.WinningBid)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.AuctionItems)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UniqueItemNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartingBid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BidIncrement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WinningBidderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WinningBid)
            </td>
            <td class="text-nowrap">
                @Html.ActionLink("Edit", "Edit", new { id = item.AuctionItemId }) |
                @Html.ActionLink("Details", "Details", new { id = item.AuctionItemId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AuctionItemId })
            </td>
        </tr>
    }

</table>

<br />

<h2>Donation Items not yet Setup for Auction</h2>

@using (Html.BeginForm("SubmitSelectedDonationItems", "AuctionItems", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="button-bar pull-right">
        <input type="submit" class="btn btn-default" name="submitButton" value="Make Single Auction Item(s)" />
        <input type="submit" class="btn btn-default" name="submitButton" value="Make a Basket" />
    </div>

        <table class="table table-striped table-bordered" id="donationItemsTable">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" id="chkSelectAll" />
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmptyDonationItem.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmptyDonationItem.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmptyDonationItem.Restrictions)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmptyDonationItem.ExpirationDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmptyDonationItem.DollarValue)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @Html.EditorFor(model => model.DonationsNotInAuctionItem)
            </tbody>
        </table>

        <script>
        $("#chkSelectAll").bind("change", function () {
            $(".chkSelect").prop("checked", $(this).prop("checked"));
        });
        $(".chkSelect").bind("change", function () {
            if (!$(this).prop("checked"))
                $("#chkSelectAll").prop("checked", false);
        });
        $(".alert").hide().fadeIn("slow");
        </script>
}
