@model IEnumerable<GlobeAuction.Models.AuctionItem>
@{
    Layout = null;
    var cardCount = 0;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body style="padding-top:0px; padding-bottom:0px">

    <div class="container body-content">

        @foreach (var auctionItem in Model)
        {
        <div class="printcontainer text-center">

            <img src="~/Content/Images/auction-logo.png" height="150" />

            <h2>#@Html.DisplayFor(m => auctionItem.UniqueItemNumber)</h2>
            <h2>@Html.DisplayFor(m => auctionItem.Title)</h2>

            <br/>
            <h4>
                @Html.DisplayFor(m => auctionItem.Description)
            </h4>
            <br/>

            @if (auctionItem.DonationItems.All(d => d.DollarValue.HasValue))
            {
                <h4>Retail Value: $@auctionItem.DonationItems.Sum(d => d.DollarValue.Value)</h4>
            }

            @if (auctionItem.IsFixedPrice)
            {
                <div class="row">
                    <div class="col-md-12">
                        <h4>Fixed Price: $@auctionItem.StartingBid</h4>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-md-12">
                        <h4>Starting Bid: $@auctionItem.StartingBid</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Bid Increment Amount: $@auctionItem.BidIncrement</h4>
                    </div>
                </div>
            }

        </div>
        }
    </div>

    </body>
</html>