@model IEnumerable<GlobeAuction.Models.WinnerViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body style="padding-top:0px; padding-bottom:0px">

    <div class="container body-content">
        @foreach (var winner in Model)
        {
            <div class="printcontainer">

                <h2>Bidder # @Html.DisplayFor(m => winner.BidderNumber)</h2>
                <h3>@Html.DisplayFor(m => winner.FirstName) @Html.DisplayFor(m => winner.LastName)</h3>
                <br />
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Item No.
                            </th>
                            <th>Category</th>
                            <th>Title</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in winner.ItemsWon.Select(i => i.AuctionItem).OrderBy(i => i.Category).ThenBy(i => i.UniqueItemNumber))
                        {
                            <tr>
                                <td>@item.UniqueItemNumber</td>
                                <td>@item.Category</td>
                                <td>
                                    @(item.DonationItemsCount == 1 && item.DonationItems.First().UseDigitalCertificateForWinner ? "* " : string.Empty)
                                    @item.Title
                                    @if(item.DonationItemsCount > 1)
                                    {
                                        <b>(basket)</b>
                                    }
                                </td>
                            </tr>

                            if (item.DonationItems.Count > 1)
                            {
                                foreach (var donationItem in item.DonationItems)
                                {
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            @(donationItem.UseDigitalCertificateForWinner ? "* " : string.Empty)
                                            @donationItem.Title
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>

                @if (winner.ItemsWon.Any(ai => ai.AuctionItem.DonationItems.Any(di => di.UseDigitalCertificateForWinner)))
                {
                    <p>
                        * Certificate for this item will be emailed to you
                    </p>
                }
            </div>
        }
    </div>

</body>
</html>