@model IEnumerable<GlobeAuction.Models.WinnerViewModel>

<link rel="stylesheet" type="text/css" href="~/DataTables/datatables.min.css" />
<script type="text/javascript" src="~/DataTables/datatables.min.js"></script>

@{
    ViewBag.Title = "Winners";
}

<h2>Winners</h2>

@if (User.IsInRole(GlobeAuction.Models.AuctionRoles.CanEditWinners))
{
    <h4>
        @Html.ActionLink("Click here to Enter Winners", "EnterWinners")
        <br />
        @Html.ActionLink("Click here to Enter Fund-A-Project Winners", "EnterWinnersInBulk")
    </h4>
    <br />
}

@if (User.IsInRole(GlobeAuction.Models.AuctionRoles.CanCheckoutWinners))
{
    <h4>
        @Html.ActionLink("Click here to Checkout Winners", "Checkout", "Invoices")
    </h4>
    <br />
}

<table class="table table-striped table-bordered" id="winnersTable">
    <thead>
        <tr>
            <th>
                Bidder #
            </th>
            <th>
                First
            </th>
            <th>
                Last
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
            <th>
                Auction Item(s)
            </th>
            <th>
                All Paid For
            </th>
            <th>
                Total Unpaid
            </th>
            <th>
                Emailed
            </th>
            <th>
                Texted
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var winner in Model)
        {
            <tr>
                <td>
                    @if (User.IsInRole(GlobeAuction.Models.AuctionRoles.CanEditBidders))
                    {
                        @Html.ActionLink(winner.BidderNumber.ToString(), "Edit", "Bidders", new { id = winner.BidderId }, new { target = "_blank" })
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => winner.BidderNumber)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => winner.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => winner.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => winner.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => winner.Phone)
                </td>
                <td>
                    <table class="table">
                        @foreach (var item in winner.ItemsWon)
                        {
                            <tr>
                                <td>
                                    #
                                    @if (User.IsInRole(GlobeAuction.Models.AuctionRoles.CanEditItems))
                                    {
                                        @Html.ActionLink(item.AuctionItem.UniqueItemNumber.ToString(), "Edit", "AuctionItems", new { id = item.AuctionItem.AuctionItemId }, new { target = "_blank" })
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(m => item.AuctionItem.UniqueItemNumber)
                                    }
                                </td>
                                <td>@Html.DisplayFor(m => item.AuctionItem.Title)</td>
                                <td>@Html.DisplayFor(m => item.BidAmount)</td>
                            </tr>
                        }
                    </table>
                </td>
                <td>
                    @(winner.AreWinningsAllPaidFor ? "Yes" : "No")
                </td>
                <td>
                    @Html.DisplayFor(m => winner.TotalUnpaid)
                </td>
                <td>
                    @(winner.IsCheckoutNudgeEmailSent ? "Yes" : "No")
                </td>
                <td>
                    @(winner.IsCheckoutNudgeTextSent ? "Yes" : "No")
                </td>
                <td>
                    @if (User.IsInRole(GlobeAuction.Models.AuctionRoles.CanAdminUsers))
                    {
                        @Html.ActionLink("Checkout", "ReviewBidderWinnings", "Invoices", new { bid = winner.BidderId, email = winner.Email }, null)
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


<script type="text/javascript">

    //expand the page space
    $("#bodyContainer").removeClass("container");

    var isAdmin = false;

    @if (User.IsInRole(GlobeAuction.Models.AuctionRoles.CanAdminUsers))
    {
        @:isAdmin = true;
    }

    $(document).ready(function () {
        var auctionItemsDataTable = $('#winnersTable').dataTable({
            "iDisplayLength": 100,
            dom: 'Bfrtip',
            stateSave: true,
            buttons: [
                {
                    extend: 'excelHtml5',
                    title: 'Export'
                },
                {
                    text: 'Print All Pick Slips',
                    action: function (e, dt, node, config) {
                        window.open('/AuctionItems/PrintAllPackSlips', '_blank');
                    }
                },
                {
                    text: 'Email All Winners',
                    action: function (e, dt, node, config) {
                        if (isAdmin) {
                            window.open('/AuctionItems/EmailAllWinners', '_blank');
                        }
                        else {
                            alert('Only administrators are allowed access to this function.')
                        }
                    }
                },
                {
                    text: 'Text All Winners',
                    action: function (e, dt, node, config) {
                        if (isAdmin) {
                            window.open('/AuctionItems/TextAllWinners', '_blank');
                        }
                        else {
                            alert('Only administrators are allowed access to this function.')
                        }
                    }
                },
                {
                    text: 'Email Unpaid Winners After Event',
                    action: function (e, dt, node, config) {
                        if (isAdmin) {
                            window.open('/AuctionItems/EmailUnpaidWinnersAfterEvent', '_blank');
                        }
                        else {
                            alert('Only administrators are allowed access to this function.')
                        }
                    }
                }
            ],
            select: {
                style: 'os'
            }
        });
    });
</script>
