@model GlobeAuction.Models.DonationItem

<tr>
    <td>
        @Html.DisplayFor(m => m.DonationItemId)
    </td>
    <td>
        @Html.DisplayFor(m => m.Category)
    </td>
    <td>
        @Html.DisplayFor(m => m.Description)
    </td>
    <td>
        @Html.DisplayFor(m => m.Restrictions)
    </td>
    <td>
        @Html.DisplayFor(m => m.ExpirationDate)
    </td>
    <td>
        @Html.DisplayFor(m => m.DollarValue)
    </td>
    <td>
        @Html.DisplayFor(m => m.IsGiftCard)
    </td>
    <td class="text-nowrap">
        @Html.ActionLink("Edit", "Edit", "DonationItems", new { id = Model.DonationItemId }, null)
        @if (ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString() == "Edit")
        {
            @:| @Html.ActionLink("Remove From Basket", "RemoveFromBasket", new { id = Model.DonationItemId })
        }
    </td>
</tr>