@model GlobeAuction.Models.Invoice

@{
    ViewBag.Title = "Invoice Details";
}

<h2>Invoice Details</h2>

<div>
    <h4>Order Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InvoiceId)
        </dd>

        @if (Model.Bidder != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Bidder.BidderNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Bidder.BidderNumber)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InvoiceType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPaid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPaid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalPaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WasMarkedPaidManually)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WasMarkedPaidManually)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateBy)
        </dd>

    </dl>

    <h4>Auction Item(s)</h4>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var item in Model.Bids)
        {
            <dt>
                @Html.Label("Item # " + item.AuctionItem.UniqueItemNumber)
            </dt>
            <dd>
                @string.Format("{0} ({1:C})",
                                  item.AuctionItem.Title,
                                  item.BidAmount)
            </dd>
        }
    </dl>

    <h4>Store Purchase(s)</h4>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var item in Model.StoreItemPurchases)
        {
            <dt></dt>
            <dd>
                @string.Format("{0} - {1} - {2:C} (paid {3:C})",
                           item.StoreItem.Title,
                          (item.StoreItem.IsRaffleTicket && item.IsPaid ? "Ticket #" + item.StoreItemPurchaseId.ToString("D8") : item.Quantity.ToString()),
                          item.Price,
                          item.PricePaid.GetValueOrDefault(0))
            </dd>
        }
    </dl>

    <h4>Ticket Purchase(s)</h4>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var item in Model.TicketPurchases)
        {
            <dt></dt>
            <dd>
                @string.Format("{0} - {1:C} (paid {2:C})",
                          item.TicketType,
                          item.TicketPrice,
                          item.TicketPricePaid.GetValueOrDefault(0))
            </dd>
        }
    </dl>

    <h4>Payment Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.PaymentTransaction == null)
        {
            <dt></dt>
            <dd>
                @if (Model.WasMarkedPaidManually)
                {
                    @Html.Label($"Paid in Person ({Model.PaymentMethod})")
                }
                else
                {
                    @Html.Label("No payment has been made yet")
                }
            </dd>
        }
        else
        {
            <dt>
                @Html.DisplayNameFor(m => Model.PaymentTransaction.TxnId)
            </dt>
            <dd>
                @Html.DisplayFor(m => Model.PaymentTransaction.TxnId)
            </dd>

            <dt>
                @Html.DisplayNameFor(m => Model.PaymentTransaction.PaymentDate)
            </dt>
            <dd>
                @Html.DisplayFor(m => Model.PaymentTransaction.PaymentDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(m => Model.PaymentTransaction.PaymentGross)
            </dt>
            <dd>
                @Html.DisplayFor(m => Model.PaymentTransaction.PaymentGross)
            </dd>

            <dt>
                @Html.DisplayNameFor(m => Model.PaymentTransaction.PayerEmail)
            </dt>
            <dd>
                @Html.DisplayFor(m => Model.PaymentTransaction.PayerEmail)
            </dd>

            <dt>
                @Html.DisplayNameFor(m => Model.PaymentTransaction.TransactionType)
            </dt>
            <dd>
                @Html.DisplayFor(m => Model.PaymentTransaction.TransactionType)
            </dd>

            <dt>
                @Html.DisplayNameFor(m => Model.PaymentTransaction.NotificationType)
            </dt>
            <dd>
                @Html.DisplayFor(m => Model.PaymentTransaction.NotificationType)
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
