@model IEnumerable<GlobeAuction.Models.InvoiceListViewModel>

@{
    ViewBag.Title = "Invoices";
}

<h2>Generated Invoices</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPaid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WasMarkedPaidManually)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BidderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountOfAuctionItems)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceTotal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPaid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WasMarkedPaidManually)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BidderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountOfAuctionItems)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceTotal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InvoiceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.InvoiceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InvoiceId })
        </td>
    </tr>
}

</table>
