@model IEnumerable<GlobeAuction.Models.InvoiceListViewModel>

<link rel="stylesheet" type="text/css" href="~/DataTables/datatables.min.css" />
<script type="text/javascript" src="~/DataTables/datatables.min.js"></script>

@{
    ViewBag.Title = "Invoices";
}

<h2>Invoices</h2>

<table class="table table-striped table-bordered" id="invoicesTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WasMarkedPaidManually)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BidderNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountOfItems)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceId)
            </td>
            <td>
                @(item.InvoiceType == GlobeAuction.Models.InvoiceType.BidderRegistration ? "Registration" : "Checkout")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceTotal)
            </td>
            <td>
                @(item.IsPaid ? "Yes (" + item.PaymentMethod + ")" : "No")
            </td>
            <td>
                @(item.WasMarkedPaidManually ? "Yes" : "No")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BidderNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountOfItems)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.InvoiceId }) |
                @if (User.IsInRole(GlobeAuction.Models.AuctionRoles.CanAdminUsers) || //admins can delete paid invoices too
                    (User.IsInRole(GlobeAuction.Models.AuctionRoles.CanCheckoutWinners) && item.IsPaid == false))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.InvoiceId })
                } |
                @if (item.IsPaid == false)
                {
                    @Html.ActionLink("PayPal", "RedirectToPayPal", new { iid = item.InvoiceId, email = item.Bidder.Email })
                }
            </td>
        </tr>
        }
    </tbody>
</table>


<script type="text/javascript">

    $(document).ready(function () {
        var invoicesDataTable = $('#invoicesTable').dataTable({
            "iDisplayLength": 100,
            dom: 'Bfrtip',
            stateSave: true,
            buttons: [
                {
                    extend: 'excelHtml5',
                    title: 'Export'
                }
            ],
            select: {
                style: 'os'
            }
        });
    });
</script>
