@model GlobeAuction.Models.InvoicesForBidderViewModel

@{
    ViewBag.Title = "Confirm Your Winnings";
}


<div>
    <br/>
    <div class="alert alert-info">
        Please review the details below for accuracy.  You can pay any outstanding invoices and review items you've already paid for.
    </div>

    <h3>Your Information</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Paddle No.
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BidderId)
        </dd>

        <dt>
            Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BidderName)
        </dd>

        <dt>
            Email
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BidderEmail)
        </dd>
    </dl>

    <h3>Items You Won</h3>
    <hr />

    @if (Model.Invoices.Any())
    {
        foreach (var invoice in Model.Invoices.OrderBy(i => i.IsPaid))
        {
            <h4>
                Invoice #@invoice.InvoiceId -
                @if (invoice.IsPaid)
                {
                    <span style="color:darkgreen">Paid</span>
                    if (invoice.PaymentTransaction != null)
                    {
                        <span style="color:darkgreen"> - Transaction ID @invoice.PaymentTransaction.TxnId</span>
                    }
                }
                else
                {
                    <span style="color:darkred">Unpaid</span>
                    @Html.ActionLink("Pay Now", "RedirectToPayPal", "Invoices", new { iid = invoice.InvoiceId, email = invoice.Bidder.Email },
                        htmlAttributes: new { @class = "btn btn-gold" })
                }
            </h4>
            <dl class="dl-horizontal">
                <dt></dt>
                <dd>
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Item No</th>
                                <th>Category</th>
                                <th>Title</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in invoice.AuctionItems)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(m => item.UniqueItemNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.Category)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.WinningBid)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </dd>
            </dl>
            <br />
        }
    }
    else
    {
        <div class="alert-info alert">
            There are currently no items that are recorded in the system as won by you.  If the auction has closed and you believe this to be an error please see a volunteer for help.
        </div>
    }
</div>