@model IEnumerable<GlobeAuction.Models.EmailTemplate>

@{
    ViewBag.Title = "Email Templates";
}

<h2>Email Templates</h2>

<p>
    Note that email templates must be implemented in the website before they will show up here.  Contact Wes for more info.
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateBy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmailTemplateId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmailTemplateId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmailTemplateId })
        </td>
    </tr>
}

</table>
